__pycache__/
*.py[cod]
*$py.class
*.pyc

build/
dist/
*.egg-info/
.eggs/
*.egg
wheels/
*.manifest
*.spec

.pdm-python
.pdm-build/
.pixi
__pypackages__/

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
.env

.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

.coverage
.coverage.*
.cache/
.pytest_cache/
htmlcov/
.tox/
.nox/

docs/_build/
site/

dungeon.png
results/

#docs/screenshots/

.DS_Store

*.log

.mypy_cache/
.pyre/
.pytype/

.ruff_cache/